<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.level3studios.arithmetick">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Arithmetick"
        tools:targetApi="31">
        <activity
            android:name=".ConverterView"
            android:exported="false"
            android:label="@string/title_activity_converter_view"
            android:theme="@style/Theme.Arithmetick" />
        <activity
            android:name=".CategoryCardView"
            android:exported="false"
            android:label="@string/title_activity_category_card_view"
            android:theme="@style/Theme.Arithmetick" />
        <activity
            android:name=".ArithmetickAppBar"
            android:exported="false"
            android:label="@string/title_activity_arithmetick_app_bar"
            android:theme="@style/Theme.Arithmetick" />
        <activity
            android:name=".CategoryView"
            android:exported="false"
            android:label="@string/title_activity_category_view"
            android:theme="@style/Theme.Arithmetick" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Arithmetick">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>